@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

[id] {
  scroll-margin-top: 5rem;
}

@media (min-width: 640px) {
  html {
    scroll-padding-top: 5rem;
  }

  [id] {
    scroll-margin-top: 5rem;
  }
}
